* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;

  text-align: center;
}

.container {
  max-width: 2110px;
  margin-left: auto;
  margin-right: auto;
}

.white-text {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
}
.nav-item {
  padding-right: 10px;
}

.push-right {
  margin-left: auto;
}

main {
  display: flex;
  flex: 1;
}

.aside1,
.aside2 {
  flex: 1;
}
.main-section {
  flex: 2;
  flex-basis: 600px;
}

.flex-item {
  font-size: 48px;
  padding: 20px;
}

.header {
  background-image: linear-gradient(45deg, #ff8380, #cf5666);
}

.aside1 {
  background-image: linear-gradient(45deg, #83fab3, #cf5666);
}

.aside2 {
  background-image: linear-gradient(45deg, #83fab3, #cf5666);
}

.main-section {
  background-image: linear-gradient(45deg, #ae6bed, #cf5666);
}

.footer {
  background-image: linear-gradient(45deg, #1d102a, #21090d);
}

@media screen and (max-width: 692px) {
  main {
    flex-direction: column;
  }

  .main-section {
    order: -1;
  }
}

form {
  margin: 30px;
}

.wrapper {
  background-color: #245538;
  list-style-type: none;
  padding: 10px;
  font-size: 18px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > label {
  padding: 0.3em 0.5em 0.3em 0.3em;
  flex-grow: 1;
}

.form-row > input {
  padding: 0.3em 0.5em 0.3em 0.3em;
  flex-grow: 2;
}

.form-row > button {
  background: #21090d;
  padding: 0.3em;
}

@media screen and (min-width: 1900px) {
  .form-row > input {
    flex-grow: 4;
  }
}
