/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,900&family=Roboto&display=swap"); */

:root {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 18px;
  /*  em, rem, vw, vh, % */
  font-weight: 400;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  color: brown;
  padding: 30px;
  background-color: aquamarine;
  width: 80vmin;
}

.box1.em {
  font-size: 0.6em;
}

ul {
  font-size: 0.6rem;
}

.box1.rem {
  font-size: 0.6rem;
}

.box1.pr {
  font-size: 180%;
}

.box1.vp {
  font-size: 3vw;
  /* vmin vmax */
}

:root {
  font-size: 28px;
}
